$fonts: "Playfair Display Bold", serif;
$main-fonts: "Open Sans reg", sans-serif;
$main-fonts-light: "Open Sans light", sans-serif;
$main-fonts-bold: "Open Sans bold", sans-serif;
$main-color: #3d3137;
$text-color: #fff;
$text-color_dark: #a7a4a5;
$text-color_black: #000;
$text-active: #cc9744;
$gradient-color: linear-gradient(211deg, #ce8715 27.99%, #ecc47e 80.38%);

.otzivi {
  background-image: url(../../img/catalpg-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .otzivi__items {
  }
  .otzivi__item {
   border-radius: 5px;
   border: 0.2px solid $text-color_dark;
   background: #fff;
   padding: calc(20px + 15 * (100vw - 400px) / 1920);
   margin-bottom: 25px;
   position: relative;
  }
  .otziv-info {
    display: flex;
    margin-bottom: 15px;
  }
  .otziv-foto {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .autor {
   margin-left: 18px;
    display: flex;
    flex-direction: column;
  }
  .otziv-date {
    font-size: 14px;
  }
  .autor__name {

    font-size: calc(14px + 6 * (100vw - 400px) / 1920);
    font-weight: 600;
    font-family: $fonts;
    color: $text-active;
    text-decoration-line: underline;
  }
  .otziv__content {
    font-family: $main-fonts-light;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .otziv-galery{
   display: flex;
   gap: 0.5rem;
  }
}

.otzivi-pulquote {
  background-image: url(../../img/otzivi-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 44px;
  color: #fff;

  font-size: calc(16px + 9 * (100vw - 400px) / 1920);
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;

margin-bottom:  calc(40px + 55 * (100vw - 400px) / 1920);
  .text {
    margin-bottom: 40px;
    max-width: 800px;
  }
}
