.ordering .good-modal__total {
  color: #fff;
  text-align: left;
}
.ordering .good-modal__total span {
  color: #fff;
}
.ordering__title {
  background: linear-gradient(211deg, #ce8715 27.99%, #ecc47e 80.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ordering .good-number {
  font-size: calc(16px + 4 * (100vw - 400px) / 1920);
  font-weight: 600;
}
.ordering .good__price {
  font-size: calc(18px + 12 * (100vw - 400px) / 1920);
}
.ordering__preview {
  background-image: url(../../img/ordering-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 40px 55px;
}
.ordering .basket__goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.input {
  padding: 0.375em 0.75em;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

.woocommerce-billing-fields .form-row label, .woocommerce .woocommerce-checkout .woocommerce-shipping-fields__field-wrapper .form-row label, .woocommerce-EditAccountForm .form-row label, .woocommerce-account .woocommerce-ResetPassword .woocommerce-form-row label, .woocommerce-account .woocommerce-form-login .woocommerce-form-row label, .woocommerce-account .woocommerce-form-register .woocommerce-form-row label, .woocommerce-address-fields .form-row label {
  display: block;
  width: 100%;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 4px;
}

.woocommerce .woocommerce-checkout .woocommerce-additional-fields .form-row .input-text, .woocommerce .woocommerce-checkout .woocommerce-billing-fields .form-row .input-text, .woocommerce .woocommerce-checkout .woocommerce-shipping-fields__field-wrapper .form-row .input-text, .woocommerce-EditAccountForm .form-row .input-text, .woocommerce-account .woocommerce-ResetPassword .woocommerce-form-row .woocommerce-Input, .woocommerce-account .woocommerce-form-login .woocommerce-form-row .woocommerce-Input, .woocommerce-account .woocommerce-form-register .woocommerce-form-row .woocommerce-Input, .woocommerce-address-fields .form-row .input-text {
  padding: 0.575em 0.95em;
}

.ordering {
  background-image: url(../../img/ordering__bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ordering__preview {
  margin-bottom: 65px;
}
.ordering__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc(10px + 72 * (100vw - 400px) / 1920);
}
.ordering__col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.ordering__col1 p {
  color: #000;
  font-family: "Open Sans reg", sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}
.ordering__col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.ordering__col2 .checkbox {
  margin-bottom: 20px;
}
.ordering__col2 .checkbox__registration {
  margin-bottom: 50px;
}
.ordering__col1-inputWrapper {
  height: 58px;
  margin-top: 15px;
}
.ordering__col1-contactYou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  height: 88px;
}
.ordering__col1-item p {
  color: #a7a4a5;
  font-family: "Open Sans reg", sans-serif;
  font-size: 12px;
}
.ordering__col1-item div {
  margin-bottom: 5px;
  width: 63px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 0.2px solid #a7a4a5;
  background: #fff;
}
.ordering__col1-item div:hover {
  border: 0.2px solid #C38B34;
}
.ordering .confirm-text {
  font-size: calc(16px + 4 * (100vw - 400px) / 1920);
  font-weight: 400;
  margin-top: calc(20px + 20 * (100vw - 400px) / 1920);
}

.form-row {
  margin-bottom: 20px;
}
.form-row label {
  display: inline-block;
  color: #000;
  font-family: "Open Sans reg", sans-serif;
  font-size: 16px;
  display: block;
}
.form-row .custom-textarea {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 0.2px solid #a7a4a5;
  font-size: 14px;
  color: #a7a4a5;
  margin-top: 15px;
  resize: none;
  height: 118px;
}
.form-row textarea:focus {
  outline: none;
}
.form-row textarea:focus-visible {
  border: 0.2px solid #cc9744;
}

@media (max-width: 880px) {
  .ordering__preview {
    padding: 15px;
  }
  .ordering__preview .good {
    padding: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ordering__preview .good-img {
    width: 66px;
  }
}
@media (max-width: 680px) {
  .ordering .basket__goods {
    display: block;
  }
}
@media (max-width: 550px) {
  .ordering__body {
    display: block;
  }
}/*# sourceMappingURL=ordering.css.map */