
$fonts: "Playfair Display Bold", serif;
$main-fonts: "Open Sans reg", sans-serif;
$main-fonts-light: "Open Sans light", sans-serif;
$main-fonts-bold: "Open Sans bold", sans-serif;
$main-color: #3d3137;
$text-color: #fff;
$text-color_dark: #a7a4a5;
$text-color_black: #000;
$text-active: #cc9744;
$gradient-color: linear-gradient(211deg, #ce8715 27.99%, #ecc47e 80.38%);


.ordering{
    .good-modal__total{
        color:#fff;
        text-align: left;
        span{
            color:#fff
        }
    }
    &__title{
        background:$gradient-color;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }
.good-number{
   
    font-size: calc(16px + 4 * (100vw - 400px) / 1920);
    font-weight: 600;
   
}
.good__price{
    font-size: calc(18px + 12 * (100vw - 400px) / 1920);
}
    &__preview{
    background-image: url(../../img/ordering-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:    5px;
    -webkit-border-radius:    5px;
    -moz-border-radius:    5px;
    -ms-border-radius:    5px;
    -o-border-radius:    5px;
    padding: 40px 55px;
}
    .basket__goods{
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
}



.input {
    padding: 0.375em 0.75em;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-transition: border-color .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out;
    transition: border-color .15s ease-in-out;
}

.woocommerce-billing-fields .form-row label, .woocommerce .woocommerce-checkout .woocommerce-shipping-fields__field-wrapper .form-row label, .woocommerce-EditAccountForm .form-row label, .woocommerce-account .woocommerce-ResetPassword .woocommerce-form-row label, .woocommerce-account .woocommerce-form-login .woocommerce-form-row label, .woocommerce-account .woocommerce-form-register .woocommerce-form-row label, .woocommerce-address-fields .form-row label {
    display: block;
    width: 100%;
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 4px;
}

.woocommerce .woocommerce-checkout .woocommerce-additional-fields .form-row .input-text, .woocommerce .woocommerce-checkout .woocommerce-billing-fields .form-row .input-text, .woocommerce .woocommerce-checkout .woocommerce-shipping-fields__field-wrapper .form-row .input-text, .woocommerce-EditAccountForm .form-row .input-text, .woocommerce-account .woocommerce-ResetPassword .woocommerce-form-row .woocommerce-Input, .woocommerce-account .woocommerce-form-login .woocommerce-form-row .woocommerce-Input, .woocommerce-account .woocommerce-form-register .woocommerce-form-row .woocommerce-Input, .woocommerce-address-fields .form-row .input-text {
    padding: 0.575em 0.95em;
}


.ordering {
    background-image: url(../../img/ordering__bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // .ordering__preview

    &__preview {
        margin-bottom: 65px;
      
    }
    // .ordering__body
    &__body {
        display: flex;
        gap: calc(10px + 72 * (100vw - 400px) / 1920);
   
    }
    // .ordering__col1

    &__col1 {
        flex: 1 1 50%;
        p {
            color: $text-color_black;
            font-family: $main-fonts;
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
    &__col2{
        flex: 1 1 50%;
        .checkbox{
            margin-bottom: 20px;
            &__registration{
                margin-bottom: 50px;
            }
        }
    }
    // .ordering__col1-inputWrapper

    &__col1-inputWrapper {
        height: 58px;
        margin-top: 15px;
    }
    // .ordering__col1-contactYou

    &__col1-contactYou {
        display: flex;
        gap: 26px;
        height: 88px;
    }

    // .ordering__col1-item

    &__col1-item {
        p{
            color: $text-color_dark;
            font-family: $main-fonts;
            font-size: 12px;
        }
        div {
            margin-bottom: 5px;
            width: 63px;
            height: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 0.2px solid $text-color_dark;
            background: $text-color;

        }
        div:hover {
            border: 0.2px solid #C38B34;
        } 
    }
    .confirm-text{
        font-size: calc(16px + 4 * (100vw - 400px) / 1920);
        font-weight: 400;
        margin-top: calc(20px + 20 * (100vw - 400px) / 1920);
      
    }
}
.form-row {
    margin-bottom: 20px;
    label {
        display: inline-block;
        color: $text-color_black;
        font-family: $main-fonts;
        font-size: 16px;
        display: block;
    }
    .custom-textarea{
        width: 100%;
        padding:20px;
        border-radius: 5px;
        border: 0.2px solid #a7a4a5;
        font-size: 14px;
        color: #a7a4a5;
        margin-top: 15px;
        resize: none;
        height: 118px;

    }
     textarea:focus {
        outline: none;
    }
    textarea:focus-visible {
        border: 0.2px solid $text-active;
      }
  
}

@media (max-width: 880px) {
    .ordering__preview{
     padding: 15px;
     .good{
        padding: 15px;
       flex-direction: row;
       &-img{
        width: 66px;
       }
     }
    }
     }
     

@media (max-width: 680px) {
   .ordering{
    .basket__goods{
        display: block;
    }
   }
    }
    
    
    

@media (max-width: 550px) {
.ordering__body{
    display: block;
}
}


