.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin-bottom: 30px;
}
.product__title {
  color: #20191D;
  font-family: "Playfair Display Bold", serif;
  font-size: calc(25px + 30 * (100vw - 400px) / 1920);
  font-style: normal;
  font-weight: 600;
}

.product__info {
  position: relative;
  width: 100%;
}

.product__meta > span {
  display: block;
  margin: 0.1em 0;
}

.product-block {
  background-image: url(../../img/product-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.description_tab a {
  color: #20191D;
  font-family: "Playfair Display Bold", serif;
  font-size: 35px;
  font-weight: 600;
}

.product__description p {
  color: #20191D;
  font-family: "Open Sans light", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 30px;
}

.product__description span {
  color: #000;
  font-family: "Open Sans bold", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.product-images {
  width: 70%;
}
.product__meta {
  margin-bottom: 35px;
}
.product__meta-art {
  color: #a7a4a5;
  font-family: "Open Sans reg", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.product__meta-art span {
  color: #000;
  font-family: "Open Sans reg", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.product__meta-kat {
  color: #a7a4a5;
  font-family: "Open Sans reg", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.product__meta-kat a {
  color: #000;
  font-family: "Open Sans reg", sans-serif;
  font-size: 18px;
  text-decoration-line: underline;
}
.product__meta-metki {
  color: #a7a4a5;
  font-family: "Open Sans reg", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.product__meta-metki a {
  color: #000;
  font-family: "Open Sans reg", sans-serif;
  font-size: 18px;
  text-decoration-line: underline;
}

.product__cart {
  background-image: url(../../img/product_cart.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px 40px 50px 40px;
}
.product__cart span {
  color: #fff;
  font-family: "Playfair Display Bold", serif;
  font-size: calc(30px + 20 * (100vw - 400px) / 1920);
  margin-bottom: 10px;
}

.product__btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

@media (max-width: 825px) {
  .product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__btn-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 825px) and (max-width: 470px) {
  .product__cart {
    padding: 10px;
  }
}
@media (max-width: 825px) {
  .product-images {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 430px;
            flex: 0 1 430px;
  }
  .product__title {
    text-align: center;
  }
  .product__meta {
    text-align: center;
  }
}
.quantity {
  color: #111;
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.quantity__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantity__input input[type=number] {
  width: 56px;
  height: 47px;
  text-align: center;
  padding: 0;
  border-radius: 0;
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-minus {
  margin-left: 30px;
  border-radius: 10% 0 0 10%;
}

.quantity-minus, .quantity-plus {
  width: 43px;
  height: 47px;
  background: linear-gradient(211deg, #ce8715 27.99%, #ecc47e 80.38%);
  color: #000;
  border: none;
  padding: 0;
  cursor: pointer;
}

.quantity-plus {
  right: 0;
  border-radius: 0 10% 10% 0;
}

.quantity-minus:before {
  content: "-";
  color: #fff;
  font-size: 25px;
}

.quantity-plus:before {
  content: "+";
  color: #fff;
  font-size: 25px;
}

.quantity-plus:hover {
  border: 3px solid #ffffff;
  -webkit-transition: border-width 0.2s;
  transition: border-width 0.2s;
}

.quantity-minus:hover {
  border: 3px solid #ffffff;
  -webkit-transition: border-width 0.2s;
  transition: border-width 0.2s;
}

.product__btn-dark {
  padding: 0;
  padding: 18px 40px;
}
.product__btn-dark:hover {
  background: linear-gradient(211deg, #ce8715 27.99%, #ecc47e 80.38%);
  color: #fff;
  border: 1px solid #cc9744;
}

.product__btn-light:hover {
  background-color: transparent;
  color: #fff;
}

.quantity__heart {
  position: absolute;
  border: none;
  background: none;
  top: 15px;
  left: 10px;
  cursor: pointer;
}
.quantity__heart path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}
.quantity__heart svg {
  fill: #fff;
  width: calc(20px + 13 * (100vw - 400px) / 1920);
}
.quantity__heart svg:hover {
  fill: #cc9744;
  color: #cc9744;
  stroke: #cc9744;
}

.breadcrumb-active-mobile {
  display: none;
}

@media (max-width: 825px) {
  .quantity {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .breadcrumb-active-notMobile {
    display: none;
  }
  .breadcrumb-active-mobile {
    display: block;
  }
}
@media (max-width: 470px) {
  .quantity-minus, .quantity-plus, .quantity__input input[type=number] {
    width: 30px;
    height: 33px;
  }
  .quantity input[type=number] {
    height: 33px;
  }
}/*# sourceMappingURL=product-block.css.map */